{# Create a category query with the 'group' parameter #}
{% set navQuery = craft.categories()
  .group('portfolioCategories') %}

{# Fetch the categories #}
{% set categories = navQuery.all() %}

<nav class="flex flex-row items-center justify-between w-full p-[20px] bg-gray-600">
    <a class="p-[10px]" href="{{siteUrl}}" aria-label="Branded site logo, redirect to home page">
        <svg x="0px" y="0px" viewBox="0 0 126.08 124.77" width="60px" height="60px">
            <circle cx="63" cy="62" r="60"/>
        </svg>
    </a>

    <div class="flex flex-row">
        {% nav category in categories %}
            <a class="p-[10px] uppercase text-white hover:text-gray-400" href="{{ category.url }}">{{ category.title }}</a>
        {% endnav %}
        <a class="p-[10px] uppercase text-white hover:text-gray-400" href="/about">About</a>
        <a class="p-[10px] uppercase text-white hover:text-gray-400" href="/contact">Contact</a>
    </div>
</nav>
