{% extends "_layout.twig" %}

{% set bodyAttributes = { class: "categories" } %}
{% set docTitle = category.title %}
{% set metaDesc = category.metaDescription %}
{% set page = craft.entries.section('portfolio').relatedTo(category).orderBy('postDate desc').all() %}

{% block content %}

    <div class="bg-[#011d22]">
 {% include '_components/project-grid' %}
</div>

{% endblock %}
