@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');
@import 'tailwindcss';

.text-xl {
  font-size: 50px;
}

@theme {
  --font-sans: 'Chakra Petch';
  --h1-size: clamp(1.5em, 2.5vw, 6.5em);
  --h2-size: clamp(1.3em, 1.6vw, 6em);
}

/* Apply the variables to headings */
@layer base {
  h1 {
    font-size: var(--h1-size);
    line-height: 1.2em;
    font-weight: light;
  }
  h2 {
    font-size: var(--h2-size);
    font-weight: light;
    line-height: 1.2em;
  }
}

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
}
